.hero {
    background-color: #2e2f42;
}

.hero-title {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    text-align: center;
}

.hero-button {
    color: #ffffff;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}